@import "../base/conf.scss";

html {
    height: 100%;
}
// Global style
body {
    font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $color_text_normal_lighter;
    height: 100%;
}

// Notices
#_notices {
    margin: 0 auto;
    padding: 15px 40px 0 40px;
    position: relative;
    z-index: 100;
    .msg._full{
        padding: 8px;
        color: #fff;
        background-color: $color_info;
        &._error {
            background-color: $color_error;
        }
        &._success {
            background-color: $color_success;
        }
    }
}


// Avatar
.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    img {
        width: 100%;
    }
    &.rounded {
        border-radius: 50%;
        overflow: hidden;
    }
    &._bg_dark {
        background-color: $color_bg_dark_lighter;
    }
}


// Other
._thisIsBeta:after {
    content: "beta";
    font-style: italic;
    font-size: 16px;
    margin: 0 0 0 8px;
}

.galerie {
    .big {
        width: 100%;
    }
    .thumbnails img {
        width: 33%;
        margin: 0;
        padding: 0;
        float: left;
    }
}

.page_404 {
    margin: 30px;
    h1 {
        font-size: 40px;
    }
}
