@import "conf.scss";

html {
    height: 100%;
}
// Global style
body {
    font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $color_text_normal_lighter;
    background-color: $color_bg_back;
    height: 100%;
}


// Link
a {
    color: $color_link_normal;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $color_1_darker;
    }
    &.discret {
        color: $color_link_discret;
        &:hover {
            color: $color_link_discret_hover;
        }
    }
    &.invert {
        color: $color_link_invert;
        &:hover {
            color: $color_link_invert_hover;
        }
    }
}

// Heading
h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
    font-weight: 300;
}

// List
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Form
// Button
fieldset {
    border: none;
    padding: 0;
}
button, input, ._btn {
    padding: 4px 8px;
    border: none;
    color: $color_text_normal_lighter;
    line-height: 15px;
}
._btn {
    display: inline-block;
}
button, input[type="submit"], ._btn {
    background-color: $color_2;
    color: $color_2_invert;
    &._bg_dark {
        background-color: $color_bg_dark_lighter;
    }
}


// Common
i, ._icon {
    &.logo_self {
        background-image: url($img_sprite + "logo.png");
        background-position: -143px -5px;
        &._32 { background-position: -169px -5px; }
        &._64 { background-position: -211px -5px; }
        &._128 { background-position: -5px -5px; }
    }
}

// Notices
#_notices {
    margin: 0 auto;
    padding: 15px 40px 0 40px;
    position: relative;
    z-index: 100;
    .msg._full{
        padding: 8px;
        color: #fff;
        background-color: $color_info;
        &._error {
            background-color: $color_error;
        }
        &._success {
            background-color: $color_success;
        }
    }
}


// Avatar
.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    &._bg_dark {
        background-color: $color_bg_dark_lighter;
    }
}
