@import "../global.scss";
@import "all.scss";

// ******************* HEADER
@import "master/header.scss";

// ******************* CONTAINER
#container {
    height: 100%;
    #content {
        height: 100%;
        width: 100%;
        display: inline-block;
    }
}


// ******************* FOOTER
#footer {
    padding: 30px 15px 15px 15px;
    background: $color_bg_back_lighter;

}




/***** FULLSCREEN **/

body.fullscreen {
    #container {
        height: auto;
        #content {
            width: 381px;
        }
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
