// Main Color layout
$color_1 : #fb675b;
$color_1_darker : #BC6962;
$color_1_invert : #fff;
$color_1_variant1 : #fc7b68;
$color_1_variant2 : #fc9084;

$color_2: #3A8E9A;
$color_2_invert: #fff;

// Color response
$color_info: #86C4CC;
$color_success: #46C05B;
$color_error: #FDBE84;


// text
$color_text_normal : #000;
$color_text_normal_lighter : #25292d;
$color_text_light : #777;
$color_text_invert : #999;

$color_link_normal : $color_1;
$color_link_hover : #25292d;
$color_link_discret : $color_text_light;
$color_link_discret_hover : $color_text_normal_lighter;
$color_link_invert : $color_text_invert;
$color_link_invert_hover : #fff;

// background
$color_bg_back : #ececec;
$color_bg_back_lighter : #f2f2f2;
$color_bg_dark : $color_text_normal_lighter;
$color_bg_dark_lighter: #333a40;
$color_bg_front : #fff;

// other
$main_padding_lr : 40px;


// img
$img_sprite : '/assets/img/sprites/';
$img_icon_16 : '/assets/img/icon/16/';
$img_icon_32 : '/assets/img/icon/32/';





/************* LAYOUT SPE *******************/
$header_height: 50px;
$box_shadow: 0 0 15px rgba(0,0,0,0.1);
