@import "conf.scss";
@import "mixin.scss";

// Float
._flr {
    float: right;
}
._fll {
    float: left;
    display: inline-block;
}

// Clear
._c {
    &:after {
        content: " ";
        clear: both;
        display: block;
    }
}

// Box
._box, ._col {
    position: relative;
    display: inline-block;
    float: left;
    .inner {
        margin: 0 5px 5px 0;
    }
}
._col10 { width: 100%; }
._col66 { width: 66%; }
._col6  { width: 60%; }
._col5  { width: 50%; }
._col33 { width: 33%; }
._col3  { width: 30%; }

._col_fixed1 {width: 320px; }
._col_fixed2 {width: 630px; }
._col_fixed3 {width: 960px; }

._box._fullscreen {
    margin: 30px 0 0 40px;
    .inner {
        background-color: $color_bg_front;
        width: 100%;
        box-shadow: $box_shadow;
        > header {
            padding: 30px 0;
            text-align: center;
            h2 {
                margin: 0;
            }
        }
        > section {

        }
        footer.action {
            margin: 15px -15px 0 -15px;
            input {
                padding: 15px;
            }
        }
        &._full_form {
            form {
                padding: 15px 15px 0 15px;
                label, input[type="text"], input[type="password"],
                input[type="submit"], textarea, select {
                    width: 100%;
                    padding: 11px 0;
                    margin: 0;
                }
                fieldset {
                    input, textarea, select {
                        padding: 18px 5px;
                        margin: 0 0 8px 0;
                    }
                }
            }
        }
    }
    .outter_bottom {
        margin: 3px 0 0 0;
    }
}

// Icon
i, ._icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    background-image: url($img_sprite + 'icon.png');
    &._hvr:hover {
        background-image: url($img_sprite + 'icon_invert.png');
    }
    &._invrt {
        background-image: url($img_sprite + 'icon_invert.png');
        &._hvr:hover {
            background-image: url($img_sprite + 'icon.png');
        }
    }
    &._16 {
        width: 16px;
        height: 16px;
    }
    &.i_facebook { background-position: -3px -3px; }
    &.i_twitter  { background-position: -3px -41px; }
    &.i_loop     { background-position: -41px -3px; }
    &.i_youtube  { background-position: -41px -41px; }
    &.i_geo      { background-position: -79px -3px; }
    &.i_cursor   { background-position: -79px -41px; }
}
// Fix button iconed
._btn._icnd {
    &:hover {
        i, ._icon {
            &._hvr {
                background-image: url($img_sprite + 'icon_invert.png');
            }
            &._invrt._hvr:hover {
                background-image: url($img_sprite + 'icon.png');
            }
        }
    }
}

// Msg
._msg {
    &._error {
        color: red;
    }
}

/*** FORM **/
fieldset {
    &._error {

    }
}

// Other
._thisIsBeta:after {
    content: "beta";
    font-style: italic;
    font-size: 16px;
    margin: 0 0 0 8px;
}
