@import "conf.scss";
@import "mixin.scss";

// Float
._flr {
    float: right;
}
._fll {
    float: left;
    display: inline-block;
}

// Clear
._c {
    &:after {
        content: " ";
        clear: both;
        display: block;
    }
}

// Box
._box, ._col {
    display: inline-block;
    float: left;
    &.inner {
        margin: 0 5px 5px 0;
    }
}

// Icon
i, ._icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    &._32 {
        width: 32px;
        height: 32px;
    }
    &.icon_facebook {
        background-image: url($img_icon_32 + 'facebook.png');
    }
    &.icon_twitter {
        background-image: url($img_icon_32 + 'twitter.png');
    }
}

// Msg
._msg {
    &._error {
        color: red;
    }
}

/*** FORM **/
fieldset {
    &._error {

    }
}
