@import "../../base/conf.scss";

#content {
    ._box._fullscreen {
        position: relative;
        z-index: 10;
    }
}
body#__Home_run {
    #search_main_box {
        #search_type_selection {
            li {
                .avatar {
                    padding: 15px 0;
                    height: auto;
                }
                &.type_search {
                    height: 59px;
                    position: relative;
                    padding: 0 0 0 0;
                    background-color: $color_bg_dark_lighter;
                    input[type="text"] {
                        width: 280px;
                        color: #fff;
                        font-size: 16px;
                        padding: 14px 10px 14px 30px;
                    }
                    input[type="submit"] {
                        height: 59px;
                        width: 100px;
                        position: absolute;
                        top: -1px;
                        right: -1px;
                    }
                }
            }
        }
    }
}
