fieldset {
    &._error {
        color: red;
    }
}

fieldset {
    border: none;
    padding: 10px;
    &.inline {
        label {
            display: inline-block;
        }
    }
}
input, textarea, select {
    padding: 4px 8px;
    color: $color_text_normal_lighter;
    line-height: 15px;
    width: 200px;
    &.transparent {
        border: none;
        background: none;
    }
}

input {
    &[type="radio"] {
        width: auto;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    &.success {
        background-color: $color_success;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

button, input[type="submit"], .btn {
    font-size: 16px;
    padding: 8px 20px;
    width: auto;
    display: inline-block;
    border: none;
    background-color: $color_2;
    color: $color_2_invert;
    margin: 1px;
    &._bg_dark {
        background-color: $color_bg_dark_lighter;
    }
}

label {
    display: block;
}
