
// Icon
i, ._icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    background-image: url($img_sprite + 'icon.png');
    &._hvr:hover {
        background-image: url($img_sprite + 'icon_invert.png');
    }
    &._invrt {
        background-image: url($img_sprite + 'icon_invert.png');
        &._hvr:hover {
            background-image: url($img_sprite + 'icon.png');
        }
    }
    &._16 {
        width: 16px;
        height: 16px;
    }
    &.i_facebook { background-position: -3px -3px; }
    &.i_twitter  { background-position: -3px -41px; }
    &.i_loop     { background-position: -41px -3px; }
    &.i_youtube  { background-position: -41px -41px; }
    &.i_geo      { background-position: -79px -3px; }
    &.i_cursor   { background-position: -79px -41px; }
}

// Fix button iconed
._btn._icnd {
    &:hover {
        i, ._icon {
            &._hvr {
                background-image: url($img_sprite + 'icon_invert.png');
            }
            &._invrt._hvr:hover {
                background-image: url($img_sprite + 'icon.png');
            }
        }
    }
}

i, ._icon {
    &.logo_self {
        background-image: url($img_sprite + "logo.png");
        background-position: -143px -2px;
        &._32 { background-position: -160px -2px; }
        &._64 { background-position: -211px -2px; }
        &._128 { background-position: -5px -2px; }
    }
}
