@import "../../base/base.scss";
@import "../all.scss";

body {
    min-width: 980px;
    background-color: $color_bg_back;
    &.fixed {
        #container {
            width: 1020px;
            background-color: $color_bg_front;
            padding: 20px;
            #content {
            }
        }
    }
}

// ******************* HEADER
@import "header.scss";

// ******************* CONTAINER
#container {
    min-width: 980px;
    min-height: 100%;
    position: relative;
    //z-index: 3;
    #content {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: relative;
    }
}


// ******************* FOOTER
#footer {
    min-width: 980px;
    min-height: 170px;
    background: $color_bg_dark;
    color: $color_text_invert;
    position: relative;
    z-index: 4;
    h2 {
        color: #fff;
        margin-bottom: 15px;
    }

    #footer-about {
        padding: 20px 40px 20px 40px;
        li {
            float: left;
            display: inline-block;
            width: 50%;
            a {
                line-height: 30px;
            }
        }
    }
    #footer-social {
        font-size: 13px;
        h2 {
            margin-bottom: 20px;
        }
    }
    #footer-help {
        height: 100%;
        background-color: $color_bg_dark_lighter;
    }
}




/***** FULLSCREEN **/

body.fullscreen {
    #container {
        min-height: 0%;
        #content {
            width: 381px;
        }
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
