@import "../../conf.scss";

#header {
    height: $header_height;
    background-color: $color_bg_front;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 5;
    .inner {
        padding: 8px 0 10px $main_padding_lr;
        position: relative;
    }
    #logo {
        a, a:hover, a:active {
            text-decoration: none;
        }
        h1 {
            color: $color_text_normal_lighter;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            line-height: 33px;
        }
    }
    nav, #__box_user {
        a {
            border-left: 1px solid #e5e5e5;
            display: inline-block;
            padding: 16px 20px;
            color: $color_text_normal_lighter;
            font-weight: 400;
            font-size: 15px;
        }
    }
    #__box_user {
        margin: -9px 0 0 25px;
        a {
            border-left-color: $color_1;
            padding: 16px 25px;
        }
    }
    .menus {
        margin: 0 0 0 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .social {
        min-width: 64px;
        padding: 0 15px;
        li {
            float: left;
        }
    }
    #__box_user {
        li {
            float: left;
        }
    }
    .search {
        border-left: 1px solid #e5e5e5;
        margin: 0 0 0 0;
        input[type="submit"] {
            height: $header_height;
            width: $header_height;
            background: transparent url($img_icon_32 + 'loop.png') center center no-repeat;
        }
    }
}
