@import "../../base/conf.scss";

#post_display {
    > .inner {
        min-height: 500px;
    }
    .cover {
        position: relative;
        z-index: 1;
        padding: 20px;
        .inner {
            z-index: 2;
            position: relative;
            height: 210px;
        }
    }
    .galerie {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        .big {
            position: relative;
            &:after {
                display: block;
                content: ' ';
                background-color: rgba(60, 67, 76, 0.45);
                height: 250px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }
        .minis {
            position: absolute;
            z-index: 3;
            right: 30px;
            bottom: 20px;
            width: 75px;
            height: 75px;
            overflow: hidden;
            &:after {
                content: attr(data-count);
                background-color: rgba(130, 164, 243, 0.7);
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 20px;
                left: 20px;
                color: #fff;
                font-size: 16px;
                width: 20px;
                height: 20px;
                text-align: center;
                padding: 5px;
                font-weight: bold;
                border: 1px solid #fff;
            }
        }
    }
    .localisation {
        z-index: 2;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .details_quick {
        color: #fff;
        position: absolute;
        bottom: 0;
        font-size: 16px;
        width: 300px;
        li {
            line-height: 20px;
            display: inline-block;
            width: 45%;
            i {
                margin: 0 10px;
            }
        }
    }
    .content {
        font-size: 15px;
        padding: 30px;
    }
}
