@import "conf.scss";

#content {
    ._box._fullscreen {
        position: relative;
        z-index: 10;
    }
}
body#__Home_run {
    #search_main_box {
        #search_type_selection {
            li {
                padding: 8px 15px;
                span {
                    vertical-align: bottom;
                    display: inline-block;
                    line-height: 70px;
                    margin: 0 0 0 15px;
                    color: $color_1_invert;
                }
                .avatar {
                    padding: 15px 0;
                    height: auto;
                }
                &.type_select {
                    background-color: $color_1;
                }
                &.type_geo {
                    background-color: $color_1_variant1;
                }
                &.type_classic {
                    background-color: $color_1_variant2;
                }
                &.type_search {
                    position: relative;
                    padding: 0 0 0 40px;
                    background-color: $color_bg_dark_lighter;
                    input[type="text"] {
                        background-color: transparent;
                        padding: 15px 0;
                        width: 100%;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.select2-container-multi .select2-choices, .select2-active, .select2-search,
.select2-container-multi .select2-choices .select2-search-field input.select2-active,
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    border: none!important;
    background: none!important;
    background-color: transparent!important;
    background-image: none!important;
}
